body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Light Mode */
body.light-mode {
    background-color: #ffffff;
    color: #333333;
}

/* Dark Mode */
body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

